@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
	height: 100vh;
	width: 100vw;
}


.hide {
	display: none !important;
}

#start {
	display: flex;
	align-items: center;
	height: 100vh;
}

#playagain {
	display: flex;
	align-items: center;
	height: 100vh;
}

#playagain .btn {
	margin: 1rem;
}


#username-form {
	margin: 0 auto;
	text-align: center;
}

#game-wrapper {
	display: flex;
	align-items: center;
	justify-content: center

}

#gameboard {
	background-image: url("../images/face.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 800px;
	width: 600px;
}

#gameboard img {
	height: 50px;
}

#players {
	margin: 0.5rem;
}

#players ul {
	margin-bottom: 1rem;
	list-style: none;
}



